@import './modules/reset.css';
@import './modules/common.css';
@import './modules/header.css';
@import './modules/preview.css';
@import './modules/description.css';
@import './modules/services.css';
@import './modules/subscribe.css';
@import './modules/footer.css';

