.destination__text--wrapper {
  max-width: 560px;
  padding-right: 20px;
}

.destination__content {
  display: flex;
  justify-content: space-between;
}

.destination__description {
  margin-bottom: 40px;
  line-height: 1.5;
}

.destination__link {
  width: 200px;
  margin-bottom: 40px;
  font-size: 16px;
}

.destination__list--wrapper {
  flex-basis: 960px;
}

.destination__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.destination__image {
  width: 100%;
  margin-bottom: 12px;
  height: 330px;
  border-radius: 40px;
  background: no-repeat top center;
  background-size: cover;
  overflow: hidden;
}

.destination__details {
  position: relative;
  font-size: 16px;
  line-height: 1.5;
}

.destination__details::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--yellow);
  background: url('../../images/airplane.svg') no-repeat center;
  background-size: 30px;
}

.destination__details .destination__country {
  font-size: 24px;
  font-weight: var(--semi-bold);
  line-height: 1;
  color: var(--yellow);
}

@media screen and (max-width: 1760px) {
  .destination__content {
    flex-wrap: wrap;
  }

  .destination__text--wrapper {
    max-width: 1000px;
    transition: max-width 0.5s ease-in-out;
    margin: 0 auto 40px;
    padding: 0;
    text-align: center;
  }

  .destination__link {
    margin: 0 auto;
  }

  .destination__list--wrapper {
    flex-basis: 750px;
    margin: 0 auto;
  }

  .destination__list {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .destination__image {
    height: 250px;
  }
}

@media screen and (max-width: 1024px) {
  .destination__text--wrapper {
    max-width: 700px;
  }

  .destination__list--wrapper {
    flex-basis: 500px;
  }

  .destination__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .destination__image {
    /* height: 200px; */
  }
}

@media screen and (max-width: 540px) {
  .destination__list--wrapper {
    flex-basis: 240px;
  }

  .destination__list {
    grid-template-columns: 1fr;
  }

  .destination__details::after {
    width: 30px;
    height: 30px;
  }

  .destination__details {
    font-size: 12px;
  }

  .destination__details .destination__country {
    font-size: 18px;
  }
}

@media screen and (max-width: 525px) {
  .destination__text--wrapper,
  .destination__description {
    margin-bottom: 20px;
  }
}