.footer__content .logo__link {
  display: flex;
  margin: 0 auto 40px;
  width: fit-content;
}

.footer__content .menu__list {
  justify-content: space-between;
  padding: 0 40px;
  height: 104px;
  border: solid var(--text-color-dark);
  border-width: 1px 0;
}
.footer__content .menu__link {
  font-size: 24px;
  font-weight: var(--semi-bold);
}


@media screen and (max-width: 1024px) {
  .footer__content .logo__link {
    margin-bottom: 30px;
  }

  .footer__content .menu__list {
    height: auto;
    padding: 30px;
  }

  .footer__content .menu__link {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .footer__content {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__content .logo__link {
    margin-bottom: 20px;
  }
  
  .footer__content .menu__list {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }

  .footer__content .menu__item {
    margin: 0;
    padding: 5px;
  }
}