.header__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  color: var(--text-color-light);
}

.header__top {
  font-size: 16px;
}

.header__top--left {
  display: flex;
  align-items: center;
}

.contacts__tel {
  margin-right: 40px;
}

.header__top--right {
  display: flex;
  align-items: center;
}

.social__list {
  position: relative;
  display: flex;
  padding: 0 40px;
  font-size: 0;
  border-right: 1px solid var(--bg-color-light);
}

.social__item {
  margin-right: 20px;
}

.social__item:last-child {
  margin-right: 0;
}

.header__account {
  display: flex;
  padding-left: 40px;
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 25px;
  padding: 8px 16px;
  border-radius: 24px;
  color: var(--text-color-light);
}

.header__btn.active__btn {
  border: 1px solid var(--yellow);
}

.header__login {
  margin-right: 15px;
}

.header__bottom {
  font-size: 18px;
}

.logo__link {
  display: flex;
  align-items: center;
}

.logo_image {
  margin-right: 8px;
  width: 40px;
  height: 40px;   
}

.logo__text {
  width: 100%;
  font-size: 24px;
  font-weight: var(--semi-bold);
  color: var(--yellow);
}

.menu__list {
  display: flex;
  font-size: 18px;
  font-weight: var(--semi-bold);
}

.menu__item {
  margin-right: 40px;
}

.menu__item:last-child {
  margin-right: 0;
}