.services__content {
  display: flex;         
  min-height: 770px;
  background: url('../../images/Illustration.png') no-repeat 60% bottom;
  background-size: 834px 613px;
}

.services__list--wrapper {
  max-width: 706px;
  padding-right: 20px;
}

.services__list {
  display: flex;
  flex-direction: column;
}

.services__item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 80px;
}

.services__item:last-child {
  margin-bottom: 0;
}

.services__title,
.services__number {
  font-size: 32px;
  line-height: 1;
  font-weight: var(--semi-bold);
}

.services__number {
  position: absolute;
  left: 0;
  top: 0;
}

.services__title {
  margin-bottom: 8px;
}

.services__text {
  line-height: 1.6;
}

.services__offer--wrapper,
.services__link {
  margin-left: auto;
}

.services__offer--title {
  text-align: right;
  line-height: 1;
  margin-bottom: 40px;
}

.services__link {
  width: 160px;
  font-size: 16px;  
}

@media screen and (max-width: 1024px) {
  .services__content {
    flex-direction: column-reverse;
    justify-content: flex-end;
    min-height: auto;
    background-size: contain;
    background-position: 100%;
  }

  .services__offer--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
  }

  .services__offer--title {
    text-align: left;
    margin-bottom: 20px;
  }

  .services__link {
    margin-left: 0;
  }

  .services__title,
  .services__number {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .services__offer--wrapper,
  .services__item {
    margin-bottom: 20px;
  }

  .services__item {
    padding-left: 50px;
  }
}